<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prep Sakhi - Interview Prep & Placement Success</title>
    <link rel="stylesheet" href="homePage.css">
</head>
<body>

<section class="landing-page">
    <div class="overlay">
        <header class="header">
            <h1>Prep Sakhi</h1>
            <p>Your Companion for Interview Prep & Placement Success</p>
        </header>

        <div class="cta-buttons">
            <a href="/register-user" class="btn signup-btn">Sign Up</a>
            <a href="/login" class="btn login-btn">Login</a>
        </div>
    </div>
</section>

<!-- Footer Section -->
<footer class="footer">
    <p>&copy; 2025 Prep Sakhi. All Rights Reserved.</p>
</footer>
</body>
</html>
